/* event */
.ba-bback {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.ba-bback.closed {
    display: none;
    z-index: -1;
}
.ba-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
}

.events-box {
    width: 25vw;
    height: fit-content;
    overflow: hidden;
}

.events-box .slick-slider{
    width: 100%;
    height: 100%;
}

.e-banner {
    width: 40vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-banner img {
    width: 100%;
}

.e-banner .slick-list {
    width: 100%;
    height: 100%;
}

.e-banner[data-idx="1"] {
    background-image: url("../assets/imgs/event/1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.e-banner[data-idx="2"] {
    background-image: url("../assets/imgs/event/2.png");
}
.events-box .slick-dots {
    bottom: 25px;
}

.events-box .slick-slide {
    width: 100%;
    height: 100%;
}

.events-box .slick-slide > div {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.events-box .slick-list {
    width: 100%;
    height: 100%;
}

.events-box .slick-track {
    height: 100%;
}

.cansel-ba {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #235da8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(40%,-40%);
    transition: all 0.35s;
    cursor: pointer;
}

.cansel-ba:hover {
    background: #104385;

}

.cansel-ba i {
    font-size: 26px;
    color: #fff;
}
.cb-box {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    top: -2px;
}

.cb-box label {
    font-family: "NotoSansKR-Regular";
}

#agree {
    margin-right: 4px;
}
/* event */
@media (max-width:1024px) and (orientation: portrait) {
    .events-box {
        width: 55vw;
    }
}

@media (max-width:550px) and (orientation: portrait) {
    .events-box {
        width: 75vw;
    }
}