body::-webkit-scrollbar-thumb{
    background-color: #dcdfe7;
    border-radius: 12px;
    background-clip: padding-box;
    border: 4px solid transparent;
}
body::-webkit-scrollbar {
    width: 15px;
}

.mainbanner {
    width: 100%;
    min-height: 27vw;
    background-color: #f2f2f2;
    background-image: url("../assets/imgs/experience.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-family: "NotoSansKR-Bold";
    font-size: 40px;
    margin-top: 56px;
    margin-bottom: 28px;
}


.titleUnderBar {
    width: 192px;
    height: 1px;
    background-color: #373737;
    margin-bottom: 28px;
}
.gotoGatherWrap{
    width: 70%;
    display: flex;
    margin-bottom: 78px;
    justify-content: center;
}

.gotoGather {
    font-family: "NotoSansKR-Regular";
    font-size: 18px;
    color: #272727;
    width: 244px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cbcbcb;
    transition: all 0.35s;
    margin-bottom: 44px;
    margin: 0 7px;
}
.gotoGather:hover {
    background-color : #235da8;
    color: #fff;
}

.gathertown {
    width: 80%;
    max-width: 1280px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 78px;
}
.gatherCardWrapOne{
    width: 99%;
    display: flex;
    margin-bottom: 124px;
}
.gatherCardWrapOne .slick-slide{
    width: 399px;
}
.gatherCardWrapOne .gatherCard{
    width: 399px;
}
.gatherCard{
    text-align: center;
}
.gatherCardImg{
    display: inline-block;
    width: 90%;
}
.slick-slider{
    width: 70%;
    margin: 0 auto;
}
.slick-prev{
    display: block;
    width: 50px;
    height: 50px;
    color: #000;
    left: -70px;
}
.slick-prev::before{
    color: #e1e1e1;
    font-size: 50px;
}
.slick-next{
    display: block;
    width: 50px;
    height: 50px;
    color: #000;
    right: -70px;
}

.slick-next::before{
    color: #e1e1e1;
    font-size: 50px;
}

.gathertown img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.gatherCardWrapTwo{
    width: 99%;
    display: flex;
    margin-bottom: 196px;
}
.m-title{
    display: none;
}
.mGatherCardWrapOne{
    display: none;
}
.mGatherCardWrapTwo{
    display: none;
}

@media (max-width:1024px) and (orientation: portrait) {
    .title {
        font-size: 32px;
        margin-top: 40px;
    }

    .gotoGather {
        font-size: 14px;
        width: 80%;
        max-width: 320px;
        height: 45px;
        margin: 0 auto 5px;
        
    }
    .gatherCardWrapOne{
        width: 100%;
    }
    .gatherCardWrapTwo{
        width: 100%;
    }
    .gotoGatherWrap{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .gatherCardImg{
        width: 90%;
    }
    .slick-slider{
        width: 66%;
    }
}

@media (max-width:1024px) and (orientation: landscape) {
    .title {
        font-size: 28px;
    }
    .gotoGather {
        font-size: 14px;
        width: 150px;
        
    }
    .gatherCardImg{
        width: 200px;
    }
    .slick-slider{
        width: 66%;
    }
}

@media (max-width:717px) and (orientation: landscape) {
    .title {
        font-size: 24px;
    }

    .gotoGather {
        font-size: 12px;
        width: 120px;  
    }

    .gatherCardImg{
        width: 150px;
    }
    .slick-slider{
        width: 70%;
    }
}

@media (max-width:500px) {
    .title {
        display: none;
    }
    .titleUnderBar {
        margin-bottom: 15px;
    }
    .gatherCardWrapOne{
        width: 70%;
        display: none;
    }
    .gatherCardWrapTwo{
        display: none;
    }
    .gotoGather{
        width: 70%;
        max-width: 320px;
        height: 45px;
        font-size: 13px;
        margin: 0 auto 5px;
    }
    .gotoGatherWrap{
        flex-direction: column;
        width: 322px;
    }
    .m-title{
        display: block;
        font-size: 18px;
        margin-top: 18px;
        margin-bottom: 15px;
    }
    .open{
        display: block;
        font-size: 18px;
    }
    .gatherCardImg{
        width: 200px;
    }
    .gathertown {
        margin-bottom: 40px;
    }
    .slick-slider{
        width: 70%;
    }
    .mGatherCardWrapOne{
        display: block;
        width: 90%;
        margin-bottom: 76px;
    }
    .mGatherCardWrapOne .slick-arrow {
        display: none;
    }

    .mGatherCardWrapOne .slick-dots li button:before, .mGatherCardWrapTwo .slick-dots li button:before {
        color: #404040;
    }
    .mGatherCardWrapTwo{
        display: block;
        width: 90%;
        margin-bottom: 238px;
    }
    .gatherCardImg{
        width: 100%;
    }
}